    <div class='container'>
    <h2>This is our bottle shop</h2>
    <div class='row'>
      <div class='col-md-4'>
        <app-keg-detail [childKegList]='kegs' (editClicker)="editKeg($event)" (subtractClicker)="subtractPint($event)" >Loading...</app-keg-detail>
        <app-new-keg (addClicker)="tapNewKeg($event)" (showClicker)="showNewKeg($event)">Loading...</app-new-keg>
      </div>
      <div class='col-md-8'>
        <div *ngIf='displayEditKeg'>
            <label for="name">Name</label>
            <input [(ngModel)]="currentKeg.name"><br>
            <label for="brand">Brand</label>
            <input [(ngModel)]="currentKeg.brand"><br>
            <label for="price">Price</label>
            <input [(ngModel)]="currentKeg.price"><br>
            <label for="abv">Alcohol By Volume</label>
            <input [(ngModel)]="currentKeg.abv"><br>
            <button (click)="doneEditing()">Done</button>
        </div>
      </div>
    </div>
